.trigger-button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}
.close-button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.popup-container {
  display: flex;
  width: 50vw;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #ffffff;
}

.popup-image {
  width: 90%;
  height: 90%;
}
@media (min-width: 768px) {
  .popup-bg-container {
    min-width: 65%;
  }
  .popup-container {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .popup-bg-container {
    min-width: 95%;
  }
  .popup-container {
    padding: 40px;
  }
}
.popup-bg-container {
  display: flex;
  flex-direction: column;
}
